fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlalchemy==2.0.40
asyncpg==0.30.0
aiosqlite==0.21.0
alembic==1.15.2
pydantic==2.11.3
pydantic-settings==2.8.1
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
paho-mqtt==2.1.0
numpy==2.2.4
pandas==2.2.3
scikit-learn==1.6.1
xgboost==3.0.0
ortools==9.12.4544
httpx==0.28.1
python-dotenv==1.1.0
greenlet==3.1.1
